@font-face {
  font-family: 'optimus princeps';
  src: url('assets/fonts/OptimusPrinceps.ttf') format('truetype');
}

html {
  font-family: 'optimus princeps';
}

body {
  background-image: url("assets/images/bg-and-effects/startbgv2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

/*add this in phase 3*/

.dark-overlay::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;

}


.glow-ani-border {

  animation: glow-ani-border 8s ease-in-out infinite alternate;

}

.glow-ani-border-black {

  animation: glow-ani-border-black 8s ease-in-out infinite alternate;

}

.glow-ani-text {

  animation: glow-ani-text 8s ease-in-out infinite alternate;

}

.glow-ani-text-xl {

  animation: glow-ani-text-xl 8s ease-in-out infinite alternate;

}

@keyframes glow-ani-border {

  0%,
  100% {
    box-shadow: 0 1rem 1rem rgba(177, 1, 1, 0);
  }

  50% {
    box-shadow: 0 1rem 1rem rgba(177, 1, 1, 0.9);
  }
}

@keyframes glow-ani-border-black {

  0%,
  100% {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0);
  }

  50% {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.9);
  }
}

@keyframes glow-ani-text {

  0%,
  100% {
    text-shadow: 0 1rem 1rem rgba(177, 1, 1, 0);
  }

  50% {
    text-shadow: 0 1rem 1rem rgba(177, 1, 1, 0.9);
  }
}


@keyframes glow-ani-text-xl {

  0%,
  100% {
    text-shadow: 0 4rem 4rem rgba(177, 1, 1, 0);
  }

  50% {
    text-shadow: 0 4rem 4rem rgba(177, 1, 1, 0.9);
  }
}



/*size the portraits*/
.party-col>ul>li>button {
  width: 17rem;
  height: auto;
  border-radius: 0.75rem;
  margin-top: 0.75rem;
}

/*this */
.character-btn:hover {
  cursor: pointer;
  border-color: darkblue;
}

.character-btn {
  max-width: 16rem;
}

/*hp/mp bars*/
.p-hp,
.p-mp {
  max-width: 12rem;
  height: 1.2rem;
  border-radius: 0.2rem;
}

.p-mp {

  max-width: 10rem;
}

.ultima-bar {
  border-radius: 0.2rem;
}

.party-col>ul>li>span>div {
  font-size: larger;
}

.party-col>ul>li>span {
  display: inline-block;
  justify-content: space-between;
  margin-top: 8rem;
  margin-left: 0.5rem;

}

/*text color*/
.party-col>ul>li>span>div {
  color: white;
}

.mp-text {
  color: blue;
}

.hp-text {
  color: green;
}

.p-mp::-moz-progress-bar {
  background-color: blue;
  opacity: 0.9;
}

.boss-prog::-moz-progress-bar {
  background-color: rgb(136, 8, 8);
  border: 0.1rem solid black;

}

.boss-prog-3::-moz-progress-bar {
  background-color: rgb(136, 8, 8);
  border: 0.2rem solid rgb(136, 8, 8);
}

.p-hp::-moz-progress-bar {
  background-color: green;
  opacity: 0.9;
}

/*icon stuff*/
.status-icon {
  border-radius: 10%;
}

.status-icon-poison {
  box-shadow: -.05rem -.05rem .05rem rgb(56, 173, 2);
}

.status-icon-curse {
  box-shadow: -.05rem -.05rem .05rem rgb(136, 8, 8);
}

.status-icon-freeze {
  box-shadow: -.05rem -.05rem .05rem rgb(0, 255, 255);
}

/*background*/
.ultima-bar {
  background-color: lightgrey;
  opacity: 0.9;
}

/*part that's filled*/
.ultima-bar::-moz-progress-bar {
  background-color: rgb(89, 3, 170);
  opacity: 0.9;
}

.is-selected {
  border: 0.5rem solid rgb(136, 8, 8);
}

.is-not-selected {
  border: 0.5rem solid black;
}

html {
  filter: brightness(80%);
}

.vol-icon {
  filter: brightness(0) invert(1);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/*organize as a 2 x 2 grid going to the right*/
.battle-menu {
  font-size: x-large;
  color: white;

  padding: 0.3rem 0.2rem 0.3rem 0.2rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}



.battle-menu>li,
.atk-btn {
  width: 100%;
  height: 100%;
  padding: 0 0.1rem 0 0.1rem;

}

/*They are seperate because if put into the same class 
the padding from .battle-menu causes issues with pushing things down*/
.battle-menu>li:hover,
.atk-btn:hover {
  background-color: rgb(89, 3, 170);
  border-radius: 0.1rem;
}

.ult-btn {
  animation: rainbow-bg 5s linear;
  animation-iteration-count: infinite;
  border: .2rem double white;

}



@keyframes rainbow-bg {

  100%,
  0% {
    background-color: rgb(255, 0, 0);
  }

  8% {
    background-color: rgb(255, 127, 0);
  }

  16% {
    background-color: rgb(255, 255, 0);
  }

  25% {
    background-color: rgb(127, 255, 0);
  }

  33% {
    background-color: rgb(0, 255, 0);
  }

  41% {
    background-color: rgb(0, 255, 127);
  }

  50% {
    background-color: rgb(0, 255, 255);
  }

  58% {
    background-color: rgb(0, 127, 255);
  }

  66% {
    background-color: rgb(0, 0, 255);
  }

  75% {
    background-color: rgb(127, 0, 255);
  }

  83% {
    background-color: rgb(255, 0, 255);
  }

  91% {
    background-color: rgb(255, 0, 127);
  }
}

.fade-out {
  animation: fade-out 3s linear;
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 90%;
  }
}

.snow-switch-container {
  position: absolute;
  top: 7rem;
  right: 1rem;
  width: 3.5rem;
  height: 2rem;
}

.snow-switch-container>h4 {
  position: absolute;
  top: -1.5rem;
  right: .5rem;

}

.snow-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5f5f5f;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: .1rem;
  bottom: .25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #1e61ff;
}



input:checked+.slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 2rem;
}

.stage-label {
  text-shadow: .1rem .1rem 1rem rgb(139, 139, 139);
}

.cite-link {
  color: rgb(132, 0, 255);
}

.start-menu>div>button:hover,
.s-back-btn:hover {
  color: rgb(136, 8, 8);

}

.diff-select:hover {
  color: rgb(136, 8, 8);
  cursor: pointer;
}

.diff-select>option:hover {
  cursor: pointer;
}

.diff-select>option {
  font-size: 2rem;
  color: rgb(136, 8, 8);
}

.ult-atk-btn {
  font-size: 1.2rem;
  margin-left: .25rem;
  border-radius: 1rem;
  background-color: rgba(134, 134, 134, 0.15);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border: 0.2rem solid black;
  width: 10rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  min-height: 7rem;
  white-space: pre-wrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

@keyframes greyscale-border {
  0% {
    border-color: rgb(0, 0, 0);
  }

  50% {
    border-color: rgb(65, 64, 64);
  }

  100% {
    border-color: rgb(139, 139, 139);
  }
}

@keyframes purple-border {
  0% {
    border-color: rgb(19, 0, 25);
  }

  50% {
    border-color: rgb(66, 1, 86);
  }

  100% {
    bborder-color: rgb(139, 2, 181);
  }
}

@keyframes whitescale-border {
  0% {
    border-color: rgb(255, 255, 255);
  }

  50% {
    border-color: rgb(152, 217, 252);
  }

  100% {
    border-color: rgb(86, 212, 251);
  }
}

@keyframes red-border {
  0% {
    border-color: rgb(50, 0, 0);
  }

  50% {
    border-color: rgb(121, 1, 1);
  }

  100% {
    border-color: rgb(255, 0, 0);
  }
}

.ult-atk-btn:hover {
  animation: rainbow-border 1s linear infinite;

}

.ult-close-btn {
  border: .2rem solid white;
  color: white;
  font-size: 1.3rem;
  background-color: black;
}

.knight-ult-btn {
  color: black;
}

.knight-ult-btn:hover {
  animation: greyscale-border 1s linear infinite;
}

.dmage-ult-btn {
  color: rgb(219, 1, 231);
}

.dmage-ult-btn:hover {
  animation: purple-border 1s linear infinite;
}

.wmage-ult-btn {
  color: white
}

.wmage-ult-btn:hover {
  animation: whitescale-border 1s linear infinite;
}

.rmage-ult-btn {
  color: rgb(255, 0, 0);
}

.rmage-ult-btn:hover {
  animation: red-border 1s linear infinite;
}

/*for the ultimas*/
.fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
  animation: fadeOut 4s linear;

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.text-container {
  position: relative;
  box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.9);
}

.text-container:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/bg-and-effects/stonetexture.png');
  opacity: 0.6;

}

/*dark overlay between the text and the background*/
.text-container:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
}



.en-main:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}