/*adding pointer-events none lets the mouse go through*/
.snow {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 3;
}

.flake {
    background-image: url('assets/images/bg-and-effects/snowflake.png');
    background-size: cover;
    width: .8rem;
    height: .8rem;
    position: absolute;
    animation: fall linear infinite;
    opacity: 0.75;
}

@keyframes fall {
    0% {
        transform: translateY(0vh) rotate(0deg);
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}