/*adding pointer-events none lets the mouse go through*/
.snow {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.8;
    z-index: 999;
}

.drop {
    background: rgba(255, 255, 255, 0.935);
    width: 0.4rem;
    height: 0.6rem;
    position: absolute;
    bottom: 100%;
    animation: fall linear infinite;
    border-radius: 100%;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}