/*adding pointer-events none lets the mouse go through*/
.snow {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 3;
}

/*change to red for phase 3*/
.flake {
    background-image: url('assets/images/bg-and-effects/snowflakev2.png');
    background-size: cover;
    width: .8rem;
    height: .8rem;
    position: absolute;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0vh) rotate(0deg);
        opacity: 1;
    }

    60% {
        opacity: 0.8;
    }

    80% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.4;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}